.col {
    width: 32%;
    margin-left: 1%;
}

.img-thumnail {
    object-fit: cover;
    width: 70%;
    height: 70%;
    border-radius: 20%;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mb-2 {
    border-radius: 33%;
}

.list-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.w-100:hover {
    margin-top: 1px;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out, margin-top 0.6s ease-in-out; 
}

.table-responsive{
    border-color: grey;
    width: 100%;
    margin-top: 5%;
    margin-left: -10%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-striped{
    tr:nth-child(even) {
        background-color: #f5f4f4;  /* Light grey background for even rows */
      }
}

.h2{
    z-index: -83;
    position: absolute;
    width: 150px;
    height: 350px;
    top: 110px;
    left: 190px;
}

.header-cell {
    background-color: #c4e1e9;
    text-align: left;
    padding: 12px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
}

td {     
    padding: 12px;              
    font-size: 14px; 

}

tr:hover {
    background-color: #e2f9f6;
}

.title-form{
    max-width: 300px;
    margin: 10px auto;
    margin-bottom: 15px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form input[type="text"],
    form textarea,
    form button[type="submit"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
 }

 form input[type="text"]:focus,
 form textarea:focus {
     border-color: #007bff;
     outline: none;
 }

 form button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

.li-form {
    margin: 0 0 -10px 0;
    font-weight: bold;
}